
.delete-confirmation-modal{
    padding: 20px;
    align-items: center;
    text-align: center;
    font-family: 'DarkerGrotesque', sans-serif;
    font-size: 20px;
}

.button-container{
    align-items: center;
}

.confirm-delete-button{
    background-color: #460b0b;
    border: none;
    padding: 10px;
    color: #fff;
    margin: 10px;
    font-family: 'DarkerGrotesque', sans-serif;
    font-size: 16px;
}


.cancel-delete-button{
    background-color: #264813;
    border: none;
    padding: 10px;
    color: #fff;
    margin: 10px;
    font-family: 'DarkerGrotesque', sans-serif;
    font-size: 16px;
}
