.open-modal{
    cursor: pointer;
    font-family: 'DarkerGrotesque', sans-serif;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    font-weight: 800;
    color: #460b0b;
}

.open-modal:hover{
    border-bottom: 1px solid #460b0b;
}
