.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#mySvg{
  margin-left: 20px;
  margin-right: 20px;
}
