  .profile-button {
    font-family: 'DarkerGrotesque', sans-serif;
    font-size: 26px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
  }

  .no-user{
    padding-bottom: 5px;
    width: 100px !important;
  }


  .profile_dropdown__wrapper {
    background-color: #fff;
    width: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }


  .profile_dropdown__item {
    cursor: pointer;
    font-family: 'DarkerGrotesque', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: unset;
    color: #000;
    /* background-color: #ffffff; */
    margin: 5px 0;
    padding-left: 10px;

  }

  .dropdown_item__url:hover {
    color: #460b0b;
    border-bottom: 1px solid #460b0b;
  }

  .dropdown_item__url {
    color: #000;
  }

  .profile_dropdown__logout {
    border: none;
    background-color: #460b0b;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    font-family: 'DarkerGrotesque', sans-serif;
  }

  .profile_dropdown__logout:hover {
    color: #460b0b;
    background-color: #fff;
  }

  
  @media (max-width: 1720px) {
    .profile_dropdown__wrapper {
      right: -75px;
    }
  }
