.home-page__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  height: 100vh;
}

.home-page_galleries__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.home-page__gallery {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.home-page__gallery:hover {
  cursor: pointer;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.75);
}

.home-page__gallery>* {
  color: #000;
}

.active-link>* {
  margin: 10px 0;
  word-wrap: break-word;
}

.active-link h2 {
  font-family: 'DarkerGrotesque', sans-serif;
  font-size: 22px;
}

.home-page__gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.art-description{
  margin-right: 70px;
  font-family: 'DarkerGrotesque', sans-serif;
  max-width: 30%;
}

.home-page__banner {
  height: calc(100vh - 173px);
  width: 100vw;
  max-width: 100%;
  background-color: #460b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}



.svg-image {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  /* min-width: 1024px; */
  background: url('bannerImg.webp') center/cover;
  position: relative;
  height: 60vh;
}


.text-popup-left,
.text-popup-right {
  /* width: 100%; */
  text-wrap: nowrap;
  position: absolute;
  opacity: 0;
  color: #ffffff;
  font-family: 'DarkerGrotesque', sans-serif;
  font-size: 24px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 8px; 
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.text-popup-left {
  left: 95%;
  transform: translateX(-50%);
  top: 30px; 
  animation: move-left 2s forwards;
}

.text-popup-right {
  left: 70%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: move-right 2s forwards;
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.remove-favorite {
  font-family: 'DarkerGrotesque', sans-serif;
  background-color: #460b0b;
  color: #fff;
  font-size: 16px;
  border: none;
}

.add-favorite {
  font-family: 'DarkerGrotesque', sans-serif;
  background-color: #264813;
  color: #fff;
  font-size: 16px;
  border: none;
}

#all-galleries {
  display: block;
  font-size: 28px;
  font-family: 'DarkerGrotesque', sans-serif;
  margin: 20px 10px;
}

.all-galleries-content{
  display: flex;
  flex-direction: column;
}

.no-galleries-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  font-size: 20px;
  color: #999;
}

.home-page_search__wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search{
  font-family: 'DarkerGrotesque', sans-serif;
  font-size: 20px;
  margin: 20px;
  border: none;
  border-bottom: 1px solid #000;

}

@media(prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;

  }
}
