@font-face {
    font-family: 'DarkerGrotesque';
    src: url('./static/DarkerGrotesque-Regular.ttf') format('truetype');
         /* url('path/to/DarkerGrotesque-VariableFont_wght.woff') format('woff'),
         url('path/to/DarkerGrotesque-VariableFont_wght.ttf') format('truetype'); */
    font-weight: 1 1000; 
    font-stretch: 1 1000; 
    font-named-instance: 'Regular'; 
  }
